@charset "utf-8";
.footer_box{
	width: 100%;background:#414d55;z-index: 101;position: relative;border-top: #3a76bf 10px solid;margin-top: 0;
    padding: 30px 0;
    color: #ddd;
    font-size: 14px;
	font-family: "PingFang SC", "Microsoft Yahei", "Helvetica Neue",  sans-serif;
}

.footer{
	width: 1100px;
	margin: 0 auto;
	height: 100%;
}
.footer_img{   
	overflow: hidden;
    float: left;
    margin-right: 20px;
}
.footer_img ul li{
	float: left;
	margin: 0 10px;
	text-align: center;
}
.footer_img ul li img{
	width: 100px;
	height: 100px;
	display: block;
}

.footer_text p i{
	font-weight: bold;
	color: #3a76bf;
	font-style:normal;
}

.footer_text p{
	margin-bottom: 5px;
}