@charset "utf-8";
.head_box{
    width: 100%;
    height: 75px;
    border: 1px #fff solid;
    box-shadow: 0 1px 3px #ddd;
    border-left: none;
    border-right: none;
    position: relative;
    z-index: 999;
    background-color: rgba(116,116,116,1.00);
}

.head_box:before{
	background:#3A76BF;
	content: "";
	height: 5px;
	position: absolute;
	top: 0;
	width: 100%;
}

.header{
    width: 1100px;
    margin: 0 auto;
    height: 100%;
    line-height: 73px;
}

.clearfix:after { content:""; display:block; height:0; visibility:hidden; clear:both; }
.clearfix {display:block;}

.header_logo{width: 25%;float: left;height: 100%;text-align: center;}

.header_logo a{width: 100%;height: 100%;display: block;}

.header_nav{width: 70%;float: left;height: 100%;line-height: 73px;}

.header_nav>ul{padding-left: 20px;}

.header_nav>ul>li{display: inline;float: left;height: 75px;position: relative;width: max-content;}

.header_nav>ul>li>a{height: 100%;display: block;padding:0 20px;}

.header_click{color:#004FCB;}

.header_search{width: 5%;float: left;height: 100%;position: relative;}
.header_search a{position: absolute;width: 100%;height: 100%;}

.header_search_btn i{width: 30px;height: 30px;display: block;margin: 25px 0 0 10px;background: url("../img/search.png");background-size: 100% 100%;}

.header_nav_small_btn{display: none;}

/*搜索框*/
.search_box{width: 1100px;margin: 30px auto 20px auto; display: none;}
.search{width: 500px;margin: 0 auto;height: 41px;}

.search_form{position: relative;}
.search_text{width: 400px;height: 38px;position: absolute;left: 0;border-radius: 4px;text-indent: 1em;box-shadow: 0 1px 3px #ddd;border: 1px #fff solid;}

.search_btn{box-shadow: 0 1px 3px #ddd;border: 1px #fff solid;width: 90px;height: 38px;position: absolute;right: 0;background:#FFF;border-radius: 4px;color: #333; }
.search_btn:hover{cursor: pointer;}

.nav_hidden_zhanwei{display: none;}

.banner_box{
    background-size: 100%;
    box-shadow: 0 1px 3px #ddd;
    border: 1px #fff solid;
    background-image: url(url);
    zoom: 1;
    margin: auto;
    overflow: auto;
    width: 1293px;
}
.banner_box .poster3 {
    overflow: auto;
    height: 400px;
    margin: auto;
    float: left;
    width: 20%;
    background-image: url(../img/p1.jpeg);
    background-repeat: no-repeat;
}
.banner_box .poster_l1 {
    overflow: auto;
    height: 400px;
    float: right;
    width: 20%;
    background-image: url(../img/p2.jpeg);
    background-repeat: no-repeat;
}
.banner_box .poster_l2 {
    overflow: auto;
    height: 400px;
    float: right;
    width: 20%;
    background-image: url(../img/p3.jpeg);
    background-repeat: no-repeat;
}
.banner_box .poster_r1 {
    overflow: auto;
    height: 400px;
    float: right;
    width: 20%;
    background-image: url(../img/p4.jpeg);
    background-repeat: no-repeat;
}
.banner_box .poster_r2 {
    overflow: auto;
    height: 400px;
    float: right;
    width: 20%;
    background-image: url(../img/p5.jpeg);
    background-repeat: no-repeat;
}
