@charset "utf-8";

.article_box{
	width: 1100px;
	margin: 30px auto;
}

.left{
	width: 780px;
	float: left;
}


.article_box_one{width: 100%;margin-bottom: 24px;}

.index_article_title{padding: 16px 20px;background:#f8f8fa;box-shadow: 0 1px 3px #ddd;border: 1px #fff solid;}

.index_article_title h3{font-weight: normal;display: block;width: 90%;float: left;color: #333;}

.index_article_title a{display: block;width: 10%;float: right;font-size: 13px;text-align: right;color: #999;padding-top: 6px;}

.index_article_title a:hover{color: #3a76bf;}

.index_article{width: 100%;background:#f8f8fa;box-shadow: 0 1px 3px #ddd;border: 1px #fff solid;border-top: none;}

.index_article .article_list{width: 100%;display: block;border-bottom: 1px #efefef solid;padding: 20px 20px 20px 260px;}
.index_article .article_list:last-child{
    border-bottom:none;
}
.index_article .article_list:nth-child(1){border-top: 1px #efefef solid;}
.index_article .article_list .article_list_img{display: inline-block;font-size: 0;float: left;margin-left: -240px;}
.index_article .article_list .article_list_img img{
    width: 225px;
    vertical-align: middle;
}
.index_article .article_list h3{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;color:#3a76bf;display: block;font-size: 16px;padding: 0 20px 10px 20px;font-weight: bold;line-height: 30px;border-top-left-radius: 8px;border-top-right-radius: 8px;}
.index_article .article_list p{margin:0 20px 10px 20px;font-size: 13px;color: #666;display: inline-block;height: 70px;text-overflow:ellipsis;overflow: hidden;}
.index_article .article_list .article_list_link{padding: 0 20px;font-size: 13px;}
/*文章点击率*/
.article_list_count{color: #666;display: inline-block;text-indent: .5em;line-height: 18px;}

.see_count{display: block;height: 20px;width: 20px;float: left;border-radius: 50%;background: #ecf0f1;box-shadow: inset 0px 2px 0px #bdc3c7;position: relative;}
.see_count:before{content: "";width: 12px;height: 12px;background: #34495e;border-radius: 50%;position: absolute;left: 4px;top: 4px;box-shadow: inset 2px -2px 0px #2980b9, inset 0px 0px 0px 3.5px #3498db;}
.see_count:after {content: "";width: 3px;height: 3px;background: #ffffff;border-radius: 50%;position: absolute;left: 10px;top: 7px;}
/*文章点赞数*/
.article_list_like{color: #666;display: inline-block;text-indent: .5em;line-height: 18px;margin-left: 15px;}
.like_count{display: block;height: 20px;width: 20px;float: left;position: relative;}
.like_count:before{
    content: "";
    position: absolute;
    width: 11px;
    height: 18px;
    border-radius: 50% 50% 0 0;
    background: #e4b9b9;
    left: 10px;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}
.like_count:after{
    content: "";
    position: absolute;
    width: 11px;
    height: 18px;
    border-radius: 50% 50% 0 0;
    background: #e4b9b9;
    left: 2px;
    transform: rotate(45deg);
    transform-origin: 0 100%;
    top: -8px;
}
.article_list_link a{color: #666;float: right;display: inline-block;}
.article_list_link a:hover{color:#3a76bf; }



/*右侧部分*/
.right{
	width: 300px;
	float: right;
}

.right_box{
	overflow: hidden;
	margin-bottom: 24px;
	background: #f8f8fa;
	border: 1px #fff solid;
	box-shadow: 0 0 3px #ddd;
}

.self_info img {
	width: 100%;
	padding: 12px;
	margin: 0;
	display: block;
}
.self_info_text{
	padding: 10px 20px 20px 20px;
	font-size: 12px;
	color: #666;
}
.self_info_text #self_if h3{
    font-size: 22px;
    font-weight: normal;
    color: #3a76bf;
    margin-bottom: 8px;
    font-family: "Determination Sans";
    font-style: italic;
}
.self_info.right_box .self_info_text #self_if {
    color: rgba(0,0,0,1.00);
    font-size: 14px;
}

.self_info.right_box .self_info_text .self_zuoyoum.right_box {
    font-family: "Determination Sans";
    font-style: italic;
    color: rgba(123,53,206,1.00);
    font-size: 17px;
    font-weight: bold;
}
.self_info.right_box .self_info_text .right_box.other_movies h3 {
    color: #3a76bf;
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 8px;
    font-family: "Determination Sans";
    font-style: italic;
    vertical-align: middle;
}


.self_info_text p{margin-bottom: 15px;line-height: 22px;}

.self_info_text p:nth-child(1){margin-top: 20px;}

.self_info_text a{color: #3a76bf;}


.other_movies div{
	padding: 10px 20px 12px 20px;
	font-size: 13px;
	color: #666;
}

.other_movies div ul{
	overflow: hidden;
}
.other_movies div ul li{
	margin-top: 17.4px;
	position: relative;
	padding-left:30px;
	line-height: 20px;    
	font-size: 15px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.other_movies div ul li:before{   
	position: absolute;
	text-indent: .4em;
	top: 0;
	left: 0;
	background:#414d55;
	width: 20px;
	height: 20px;
	display: block;
	font-size: 14px;
	color: #fff;
}
.other_movies div ul li:nth-child(1):before,.other_movies div ul li:nth-child(2):before,.other_movies div ul li:nth-child(3):before{
	background: #3a76bf;
	color: #FFF;
}
.other_movies div ul li:nth-child(1):before{content: "1";}

.other_movies div ul li:nth-child(2):before{content: "2";}

.other_movies div ul li:nth-child(3):before{content: "3";}

.other_movies div ul li:nth-child(4):before{content: "4";}

.other_movies div ul li:nth-child(5):before{content: "5";}

.other_movies div ul li:nth-child(6):before{content: "6";}

.other_movies div ul li a{color: #666;}

.other_movies div ul li a:hover{color: #3a76bf;}
